<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexion" connectionString="Data Source=.;Initial Catalog=DBSistemaOlano;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="SistemaOlano.Properties.Settings.Conexion" connectionString="Data Source=LAPTOP-0OJGDT8N\SQLEXPRESS;Initial Catalog=DBSistemaOlano;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
